# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
.eggs/

# Virtualenv
.venv/
venv/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data files
*.csv
*.qgz
*.db
*.sqlite
*.log
